body {
    background: #FFE7CC;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    height: auto;
    width: auto
}

.home {
    background-color: #FFFBEB;
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
    transform: translate(0, -50%);
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
}

.home:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
  }

  form {
    padding: 15px;
}

h1 { 
    color: #7D8F69; 
    font-family: serif; 
    font-size: 45px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 20px; 
}

p,
label {
    color: #495579;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 32px;
    margin: 0 0 24px
}

input:not([type='radio']),
select {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    color: #495579;
    background-color: #f7f7f7;
    outline: none;
    transition: border-bottom 0.3s ease;
    width: 50%;
    margin-bottom: 10px
}

input:focus,
select:focus {
    border-bottom-color: #A0C3D2
}

input::placeholder {
    color: #495579
}

input[type="submit"] {
    background-color: #A0C3D2;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 75%
}

input[type="submit"]:hover{
    background-color: #A0C3D2
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23333' d='M7.4 10.6l4.6 4.6 4.6-4.6c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-5 5c-.2.2-.5.3-.7.3s-.5-.1-.7-.3l-5-5c-.4-.4-.4-1 0-1.4.4-.5 1-.5 1.4 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center
}

select option {
    background-color: #f7f7f7;
    padding: 10px;
    font-size: 16px
}

button {
  align-items: center;
  appearance: button;
  background-color: #A0C3D2;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  line-height: 1.15;
  margin: 20px;
  padding: 10px 21px;
  text-align: center;
  font-size: 16px;
  width: 50%;
}

button:active {
  background-color: #A0C3D2;
}

button:hover {
  background-color: #A0C3D2;
}

.quiz {
    background-color: #FFFBEB;
    color: white;
    display: block;
    width: 50%;
    border: 5px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}