body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    height: auto;
    width: auto
}

.home {
    background-color: #eee;
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
    transform: translate(0, -50%)
}

form {
    padding: 15px;
}

h1 { 
    color: #7c795d; 
    font-family: serif; 
    font-size: 45px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 20px; 
}

p,
label {
    color: #4c4a37;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 32px;
    margin: 0 0 24px
}

input:not([type='radio']),
select {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    color: #333;
    background-color: #f7f7f7;
    outline: none;
    transition: border-bottom 0.3s ease;
    width: 50%;
    margin-bottom: 10px
}

input:focus,
select:focus {
    border-bottom-color: #76b5c5
}

input::placeholder {
    color: #aaa
}

input[type="submit"] {
    background-color: #76b5c5;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 75%
}

input[type="submit"]:hover {
    background-color: #76b5c5
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23333' d='M7.4 10.6l4.6 4.6 4.6-4.6c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-5 5c-.2.2-.5.3-.7.3s-.5-.1-.7-.3l-5-5c-.4-.4-.4-1 0-1.4.4-.5 1-.5 1.4 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center
}

select option {
    background-color: #f7f7f7;
    padding: 10px;
    font-size: 16px
}

.quiz {
    background-color: #eee;
    border: 5px solid;
    margin: 20px;
    padding: 10px;
}