{% extends "base.html" %}

{% block body %}
<div class="home">
  <h1>You have to login to proceed further</h1>
  <form method="POST" action="{{ url_for('login') }}">
    {{ form.csrf_token }}
    <label for="{{ form.username.id }}">{{ form.username.label }}</label>
    {{ form.username }}
    <br><br>
    <label for="{{ form.password.id }}">{{ form.password.label }}</label>
    {{ form.password(type='password') }}
    <br><br>
    <label for="{{ form.typeofuser.id }}">{{ form.typeofuser.label }}</label>
    {{ form.typeofuser }}
    <br><br>
    {{ form.submit }}
  </form>
</div>
{% endblock %}