
{% extends 'base.html' %}

{% block body %}
<div class="quiz">
  <h1>Options Editor</h1>
  {% if options %}
    <h2>Options</h2>
    <form action="{{ url_for('edit_options', idQuest=idQuest) }}" method="POST">
      {% for option in options %}
        <div>
          <label>Option {{ loop.index }}:</label>
        </div>
        <div>
          <input type="text" id="option{{ option[0] }}" name="option{{ option[0] }}" value="{{ option[2] }}">
        </div>
      {% endfor %}
      <input type="submit" value="Edit options">
    </form>
  {% else %}
    <p>No options found for this quiz.</p>
  {% endif %}
</div>
{% endblock %}
