
{% extends 'base.html' %}

{% block body %}
<div class="quiz">
  <h1>Quiz Editor</h1>
  {% if questions %}
    <h2>Questions</h2>
    <form action="{{ url_for('edit_question', quiz_id=quiz_id) }}" method="POST">
      {% for question in questions %}
        <div>
          <label>Question {{ loop.index }}:</label>
        </div>
        <div>
          <input type="text" id="question{{ question[0] }}" name="question{{ question[0] }}" value="{{ question[2] }}">
        </div>
        <div>
          <button><a href="{{ url_for('edit_options', idQuest=question[0]) }}">Edit options</a></button>
        </div>
      {% endfor %}
      <input type="submit" value="Edit question">
    </form>
  {% else %}
    <p>No questions found for this quiz.</p>
  {% endif %}
</div>
{% endblock %}
