{% extends 'base.html' %}
{% block body %}
<div class="home">
<h1>Quiz!</h1>
<form method="POST" action="{{ url_for('do_quiz', quiz_id=quiz_id) }}">
  {{ form.csrf_token }}
  <div>
    <input type="hidden" name="question_number" value="{{ question_number }}"></input>
    <label>{{ question }}</label>
  </div>
  <div>
    {% for option in options %}
      <input type="checkbox" name="answers" value="{{ loop.index }}" id="{{ option.idOpt }}">
      <label for="{{ option.idOpt }}">{{ option.option_text }}</label><br>
    {% endfor %}
  </div>
  <input type="submit" value=" Next ">
</form>
</div>
{% endblock %}
